# Large files (not for git)
custom_db/
blast_db/
*.fastq
*.fastq.gz
*.faa
*.psq
*.phr
*.pin
*.pdb
conda_envs/
work/
.nextflow/
venv/
custom_db/
blast_db/
work/
.nextflow/
conda_envs/
venv/
custom_db/
blast_db/
.nextflow.log*
