
    name = 'nanopore-bacterial-pipeline'
    author = 'Evangelia Sklaveniti'
    description = 'Nextflow pipeline for bacterial Nanopore long-read assembly'
    version = '2.0.0'
    nextflowVersion = '>=22.10.0'



params {
    input = null
    outdir = "/workspaces/nanopore-bacterial-pipeline/results"
    genome_size = "3m"
    min_read_length = 500
    min_read_quality = 10
    staph_strep_db = "${baseDir}/custom_db/staph_strep_db.faa"
    viral_db = "${baseDir}/custom_db/viral.1.protein.faa"
}

process {
    executor = "local"
    cpus = 4
    memory = "8 GB"
    time = "2h"
    
    withName: NANOPLOT {
        publishDir = [path: { "${params.outdir}/NANOPLOT" }, mode: 'copy']
    }
    withName: PORECHOP {
        publishDir = [path: { "${params.outdir}/PORECHOP" }, mode: 'copy']
    }
    withName: CHOPPER {
        publishDir = [path: { "${params.outdir}/CHOPPER" }, mode: 'copy']
    }
    withName: FLYE {
        publishDir = [path: { "${params.outdir}/FLYE" }, mode: 'copy']
    }
    withName: MEDAKA {
        publishDir = [path: { "${params.outdir}/MEDAKA" }, mode: 'copy']
    }
    withName: QUAST {
        publishDir = [path: { "${params.outdir}/QUAST" }, mode: 'copy']
    }
    withName: PHANOTATE {
        publishDir = [path: { "${params.outdir}/PHANOTATE" }, mode: 'copy']
    }
    withName: BLAST_ANNOTATION {
        publishDir = [path: { "${params.outdir}/BLAST" }, mode: 'copy']
    }
    withName: MULTIQC {
        publishDir = [path: { "${params.outdir}/MULTIQC" }, mode: 'copy']
    }
}

conda {
    enabled = false
}

profiles {
    standard { executor = "local" }
    conda { conda.enabled = false }
}
